USE [Countries]
GO
/****** Object:  Table [dbo].[Country]    Script Date: 9/14/2022 10:06:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Country](
	[CountryId] [int] NOT NULL,
	[CountryName] [nvarchar](100) NULL,
	[CountryCode] [nvarchar](10) NULL,
	[CountryCode2] [nvarchar](10) NULL,
	[PhoneCode] [nvarchar](10) NULL
) ON [PRIMARY]
GO
INSERT [dbo].[Country] ([CountryId], [CountryName], [CountryCode], [CountryCode2], [PhoneCode]) VALUES (1, N'Afghanistan', N'AFG', N'af', N'+93')
INSERT [dbo].[Country] ([CountryId], [CountryName], [CountryCode], [CountryCode2], [PhoneCode]) VALUES (2, N'Albania', N'ALB', N'al', N'+355')
INSERT [dbo].[Country] ([CountryId], [CountryName], [CountryCode], [CountryCode2], [PhoneCode]) VALUES (3, N'Algeria', N'DZA', N'dz', N'+213')
GO
/****** Object:  Index [PK_Country]    Script Date: 9/14/2022 10:06:12 AM ******/
ALTER TABLE [dbo].[Country] ADD  CONSTRAINT [PK_Country] PRIMARY KEY NONCLUSTERED 
(
	[CountryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
